body {
    background: #b82b2b url(../img/fundo.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6em;
}
main {
    margin: 0 auto;
    width: 960px;
}
section {
    float: left;
    width: 660px;
}
article {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
article h2 {
    border-bottom: 1px dashed rgb(35, 19, 177);
    margin: 0;
}
article img {
    border: 1px solid rgb(224, 221, 18);
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}
footer {
    font-size: 1.8em;
    text-align: center;
}
.clear {
    clear: both;
}
aside {
    background-color: rgb(230, 94, 135);
    border: 1px solid rgb(155, 59, 87);
    float: right;
    padding: 10px;
    width: 260px;
}
aside h3 {
    font-size: 1.8em;
    margin-top: 0;
}
aside ol {
    font-size: 1.2em;
}