
section{
    margin-left: 310px;
    margin-top: -80px;
    margin-right: 420px;
}
footer{
    margin-top:32%;
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=reset] {
    width: 50%;
    background-color: #d42709;
    color: white;
    padding: 12px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #ea2d0c;
}
input[type=submit] {
    width: 48.33%;
    background-color: #0d9814;
    color: white;
    padding: 12px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:6px;
}

input[type=submit]:hover {
    background-color: #03b70d;
}

#tabela {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabela td, #tabela th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabela tr:nth-child(even){
    background-color: #f2f2f2;
}

#tabela tr:hover {
    background-color: #ddd;
}

#tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #757575;
    color: white;
}
label{
    font-family:sans-serif;
}
span{
    color:red;
}
input[type=email] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}