* {
    box-sizing: border-box;
}

.box {
    background-color: limegreen;
    width: 250px;
}

.box-with-padding {
    background-color: lightblue;
    padding: 0 25px;
    width: 250px;
}

section {
    border: 1px solid #000;
    height: 100px;
    margin: 40px auto;
    width: 400px;
}

h1 {
    background-color: #990000;
    color: #fff;
    font-size: 1.2em;
    left: -10px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: 420px;
}

h1::before {
    border: 5px solid #7c0000;
    border-color: transparent #7c0000 #7c0000 transparent; 
    border-style: solid;
    border-width: 5px;
    content: '';
    left: 0;
    position: absolute;
    top: -10px;
}

h1::after {
    border-color: transparent transparent #7c0000 #7c0000;
    border-style: solid;
    border-width: 5px;
    content: '';
    position: absolute;
    right: 0;
    top: -10px;
}

.help {
    background-color: #f1efe6;
    border: 1px solid #d3cdae;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
}

.help::before {
    border-color: transparent #d3cdae transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: '';
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}

.tip::before {
    content: '\261E';
    margin-right: 10px;
}