.help{
    background-color: #F1EFE6;
    border: 1px solid #D3CDAE;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
}

.help::before{
    border-color: transparent #D3CDAE transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: '';
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top:50%;
    
}