* {
    box-sizing: border-box; /* Normaliza o tamanho */
}
.sem-padding {
    background-color: blue;
    width: 250px;
}
.com-padding {
    background-color: red;
    width: 250px;
    padding: 0 25px;
}