<style type="text/css">

      .GC_Normal{font-size: 10px;font-family: Verdana, Arial, Helvetica, sans-serif;
                 color: #858495;text-decoration: none;font-weight: bold;
                 text-align: left;vertical-align: top;}

      .conteudo_titulo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #656297;
      }

      .fundo_tabela_titulo_esquerdo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #858495;
        text-align: left;
        text-indent: 6pt;

      }

      .fundo_tabela_titulo_direito{
        text-decoration: none;
        background-color: #EEEEEE;
        text-align: left;
        vertical-align: bottom;
      }

    </style>