/* LOGIN */
#conteudo-login {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 5px 5px 25px 3px rgba(0,0,0,.1);
}
#titulo-login {
    text-align: center;
    color: #b56435;
    font-weight: bold;
    font-size: 24px;
}
#form-login input{
    height: 45px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.1);
    padding: 0 20px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

#form-login button {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.1);
    height: 45px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #b56435;
    color: white;
}
div.error {
    width: 100%;
    background-color: #ffa3a3;
    text-align: center;
    padding: 10px 0;
}
div.success {
    width: 100%;
    background-color: #a3ffaf;
    text-align: center;
    padding: 10px 0;
}
/* SIDE MENU */
nav {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #b56a35, #814021);
    padding-top: 20px;
}
main {
    margin-left: 300px;
}
ul {
    padding-left: 20px;
}
ul li a {
    text-decoration: none;
    padding: 2px 2px 2px 8px;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}
ul li a:hover {
    padding-left: 20px;
}
ul li {
    list-style-type: none;
}
h1 {
    color: #b56435;
}

/* FORMS */
* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

input[type=text], input[type=number], input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #b56435;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #a1562a;
}

main form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* TABLE */
table {
    width: 100%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
table tr:hover { 
    background-color: #f7c7ab;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b56435;
    color: white;
}
table a {
    text-decoration: none;
    color: #b56435;
    transition: 0.3s;
}
table a:hover {
    color: #a1562a;
}
i {
    margin-right: 5px;
}