body {
    background: #6d6b6b url(imagem.png);
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6em;
}
.container{
    margin: 0 auto;
    width: 960px;
}
.noticias{
    float: left;
    width: 660px;
}
.noticia{
    background-color: #ee1010;
    margin-bottom: 20px;
    padding: 10px; 
    border: 1px solid #2e117e
}
.noticia h2{
    border-bottom:1px dashed #c7bc27;
    margin: 0;
}
.noticia img {
    border: 1px solid #4d2626;
    float: left;
    margin: 10px 10px 0px 0px;
    padding: 2px;
}
.rodape{
    font-size: 1.8em;
    text-align: center;
}
.clear{
    clear: both;
}
.barralateral{
    background-color: aqua;
    border:1px #6d6b6b;
    float: right;
    padding: 10px;
    width: 260px;
}
.barralateral h3{
    font-size: 1.8em;
    margin-top: 0;
}
.barralateral ol{
    font-size: 1.2em;
}