body {
    background: url(fundo.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6em
}

body {
    margin: 0 auto;
    width: 960px;
}

section {
    float: left;
    width: 660px;
}

article {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgba(170, 170, 170, 0.493);
}

article h2 {
    border-bottom: 1px double rgba(105, 105, 105, 0.137);
    margin: 0;
}

article img{ 
    border: 1px solid rgba(121, 121, 121, 0.671);
    float: left;
    margin: 10px 10px 0px 0px;
    padding: 2px
}

.clear {
    clear: both;
}

footer {
    font-size: 1.8em;
    text-align: center;
}


aside {
    background-color: rgba(107, 107, 107, 0.068);
    border: 1px solid rgba(88, 88, 88, 0.459);
    float: right;
    padding: 10px;
    width: 260px;
}

aside h3 {
    font-size: 1.8em;
    margin-top: 0;
}

aside ol {
    font-size: 1.2em;
}