section{
    border: 1px solid #000;
    height: 100px;
    margin: 40px auto;
    width: 400px;
}
h1{
    background-color: #990000;
    color: #fff;
    font-size: 1.2em;
    left: -10px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: 420px;
}

h1::before{
    border-color: transparent #7C0000 #7C0000 transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    left: 0;
    position: absolute;
    top: -10px;
}

    